language: java
sudo: required

jdk:
  - oraclejdk8
  - openjdk6

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

before_install:
    - .travis/oracle/download.sh
    - .travis/oracle/install.sh

script: "mvn verify -Dspring.profiles.active=travis-ci"
